main{
  position: relative;
  height: 100vh;
  width: 100vw;
  /* overflow-x: hidden; */
  }
section{
  height: 100vh;
  width: 100vh;
}
.elm{
  position: relative;
}
.container {
  overscroll-behavior: none;
  width: 500%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;

}

.intro{
  /* background: #ccc; */
}

.bg-palceholder{
  /* background: blue; */
  height: 100vh;
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 200;

}

.rocket{
  width: 94px;
  margin-left:-47px;
  left: 50%;
  position: fixed;
  bottom: 0px;
  z-index: 500;
}

.earth{
  z-index: 499;
  /* border: 1px solid red; */
  box-sizing: border-box;
  width: 100vw;
  height:100vw;
  position:fixed;
  bottom:-75vw;
 }
 @media only screen and (max-width: 767px) {
   .earth{
      width: 100vw;
     height:100vw;
     position:fixed;
     bottom:-65vw;
    }
}

.earth img{
  position: fixed;
}

.panel{
  width: 100vw;
  border-right: 1px solid #ccc;
  box-sizing: border-box;
}

.rocket.launched_rocket{
  /* background: red; */
}
.bg-palceholder{
  /* background: -moz-linear-gradient(180deg, #588DB4 0%, #8AE4EF 30%, rgb(255, 255, 255) 100%);
  background: -webkit-linear-gradient(180deg, #588DB4 0%, #8AE4EF 30%, rgb(255, 255, 255) 100%);
  background: linear-gradient(180deg, #588DB4 0%, #8AE4EF 30%, rgb(255, 255, 255) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#92d9ef", endColorstr="#c9e7f2", GradientType=1); */
}

#step1{
}
#step2{
}
#step3{
  /* background: -moz-linear-gradient(180deg, #020F35 0%, #588DB4 100%);
    background: -webkit-linear-gradient(180deg, #020F35 0%, #588DB4 100%);
    background: linear-gradient(180deg, #020F35 0%, #588DB4 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#020024", endColorstr="#588DB4", GradientType=1); */
}
#step4{
  /* background: -moz-linear-gradient(0deg, rgb(3 16 54) 0%, rgba(0, 0, 22, 1) 100%);
  background: -webkit-linear-gradient(  0deg   , rgb(3 16 54) 0%, rgba(0, 0, 22, 1) 100%);
  background: linear-gradient(  0deg  , rgb(3 16 54) 0%, rgba(0, 0, 22, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#001544", endColorstr="#000016", GradientType=1); */
}
#step5{
  /* background: -moz-linear-gradient(0deg, rgb(3 16 54) 0%, rgba(0, 0, 22, 1) 100%);
  background: -webkit-linear-gradient(  0deg   , rgb(3 16 54) 0%, rgba(0, 0, 22, 1) 100%);
  background: linear-gradient(  0deg  , rgb(3 16 54) 0%, rgba(0, 0, 22, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#001544", endColorstr="#000016", GradientType=1); */
}


.text_pop_up {
    position: absolute;
    z-index: 1;
    background-color: rgb(255, 255, 255);
    background-color: rgb(249 144 246);
    box-shadow: 0 0 20px 11px rgb(255 255 255 / 50%);
    width: 300px;
    height: 300px;
    right: 100px;
    top: 50%;
    margin-left: -200px;
    /* margin-top: -200px; */
    padding: 10px 20px;
    z-index: 900;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    box-sizing: border-box;
    text-align: center;
    border: 10px solid #fff;
}

.text_pop_up h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 22px;
    font-weight: bold;
}

#space_pop_up {
    top: 100px
}

#sky_pop_up {
    top: 100px
}

#land_pop_up {
    top: 300px
}

#sea_pop_up {
    top: 100px
}
/*
#land_pop_up,
#sky_pop_up,
#space_pop_up,
#earth_pop_up,
#sea_pop_up {
    opacity: 0;
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
*/
#land_pop_up.visible,
#sky_pop_up.visible,
#space_pop_up.visible,
#earth_pop_up.visible,
#sea_pop_up.visible {
    opacity: 1;
    -webkit-transform: none;
    -moz-transform: none;
    -ms-transform: none;
    -o-transform: none;
    transform: none;
}
